@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto+Slab:wght@100;200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family:
    "Roboto",
    Arial,
    Helvetica,
    sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f4f5f9;
}

.App {
  width: 95vw;
  height: 100vh;
  background-color: white;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-container {
  display: flex;
  max-width: 95vw;
  padding: 20px 6em;
  justify-content: space-between;
  align-items: center;
  height: 5.938rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar {
  display: flex;
  gap: 20px;
}

.user {
  color: rgb(2, 144, 255);
  cursor: pointer;
}

.web-logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(2, 144, 255);
}

.nav-link {
  color: grey;
}

.nav-link.active {
  color: black;
}

.nav-link:hover {
  color: rgb(2, 144, 255);
}

.nav-link:active {
  color: rgb(3, 31, 51);
}

.Bookstore-CMS {
  background-color: white;
  height: 85vh;
  width: 95vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container {
  width: 80vw;
  display: flex;
  margin: auto;
  padding: 20px 100px 20px 15px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.book-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.book-author {
  color: rgb(136, 173, 205);
}

.button-container {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: transparent;
  color: rgb(136, 173, 205);
  border: none;
  cursor: pointer;
}

.Oval-2 {
  width: 4rem;
  height: 4rem;
  border-style: solid;
  border-width: 6px;
  border-radius: 4rem;
  color: #307bbe;
  border: solid 5px #307bbe;
}

.percentage-status {
  display: flex;
  align-items: center;
  gap: 20px;
}

.percentage {
  font-size: 37px;
  font-weight: lighter;
  color: #000;
}

.status {
  color: rgb(148, 147, 148);
}

.current-chapter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.add-section {
  width: 80vw;
  margin: 30px auto;
}

.form-input {
  display: flex;
  gap: 20px;
}

.add-label {
  color: rgb(148, 147, 148);
  font-size: 17px;
  margin-bottom: 10px;
}

.input {
  width: 660px;
  padding: 0.5em 2em;
}

.add-btn {
  background-color: rgb(2, 144, 255);
  width: 300px;
  color: white;
  border: 1px solid rgb(2, 144, 255);
}

.add-btn:hover {
  opacity: 0.8;
}

.add-btn:active {
  background-color: rgb(2, 40, 68);
}

.update-btn {
  background-color: rgb(2, 144, 255);
  padding: 8px;
  color: white;
  border: 1px solid rgb(2, 144, 255);
}

.chapter-title {
  color: rgb(148, 147, 148);
  font-weight: lighter;
  font-size: 14px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
